// variables.scss

$primary-color: #d48f38;  // Definisce il colore primario utilizzato nell'applicazione
$secondary-color: #212529;  // Definisce il colore secondario utilizzato nell'applicazione
$font-stack: 'Roboto, Helvetica, sans-serif';  // Definisce la famiglia di font utilizzata nell'applicazione